{% extends 'crud/layout.html' %}
{% block content %}
    <h1>Sistema de Equipos</h1>
   <!-- 
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Iniciar Sesion</button>
    </form>
    -->
    <form action="{% url 'logear' %}" method="POST">
        {% csrf_token %}
        <input id="username" type="text" name="username" value="">
        <input id="password" type="password" name="password" value="">
        <input type="submit" value="Submit" />
    </form>

{% endblock %}